.lead__logo {
  width: 58%;
  position: absolute;
  top: 31%;
  left: 50%;
  transform: translateX(-50%);
}
@media all and (min-width: 425px) {
  .lead__logo {
    width: 40%;
  }
}
@media all and (min-width: 768px) {
  .lead__logo {
    width: 22%;
    top: 35%;
  }
}
