.opened-menu_donate-button {
  height: 44px;
  border-radius: 22px;
  background-color: #7100ff;
  margin-top: 52px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
  color: #FCFAF7;
}
