.footer__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 48px 0 0;
  padding: 0;
  list-style: none;
}
/*отступ для "мы в соцсетях"*/
.footer__title:nth-of-type(1) {
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .footer__title {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-transform: lowercase;
    margin: 0;
    flex-basis: 310px;
  }
  /*для "сделано с любовью:"*/
  .footer__title:nth-of-type(2) {
    flex-basis: 330px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__title:nth-of-type(2) {
    flex-basis: 427px;
  }
}
