.photo-gallery__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  color: #3b3748;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}
@media screen and (min-width: 980px) {
  .photo-gallery__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.01em;
    text-transform: lowercase;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery__title {
    max-width: 970px;
  }
}
@media screen and (min-width: 1440px) {
  .photo-gallery__title {
    max-width: 1440px;
  }
}