.events {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #EBE9ED;
  padding: 40px 0;
}

@media all and (min-width: 1024px) {
  .events {
    padding: 80px 0;
  }
}
