.digits__illustration-description {
  margin: 0;
  padding-bottom: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3B3748;
}

.digits__illustration-description:nth-of-type(2n) {
  padding-bottom: 0;
}

@media screen and (min-width: 1055px) {
  .digits__illustration-description {
    position: absolute;
    bottom: 130px;
    right: 330px;
    font-size: 18px;
    line-height: 133%;
    text-align: start;
    max-width: 250px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1055px) {
  .digits__illustration-description:last-of-type {
    top: 320px;
    left: 280px;
    max-width: 285px;
  }
}
