.lead_button {
  background-image: url(../../../images/lead_button.svg);
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 8px;
}
