.digits__title {
  margin: 0;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 112%;
  display: flex;
  align-items: center;
  color: #3B3748;
}

@media screen and (min-width: 768px) {
  .digits__title {
    font-size: 48px;
    line-height: 108%;
  }
}
