.opened-menu__select-button {
  width: 20px;
  height: 20px;
  margin-top: 24px;
  background-image: url("../../../images/select-button.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border:none;
  background-color: #fcfaf7;
}
